header {
  background: red; margin: 0; padding: 2em 2em 10em; color:white;
  text-align:center;
  clip-path: polygon(
    0 0,
    200% -350%,
    80% 100%,
    0 30%
  );
} 

@media (max-width:500px) {
  header {
    background: rgb(44, 43, 43); margin: 0; padding: 3em 3em 10em; color:white;
   text-align:center;
   clip-path: none;
  }
}
/* div{font-size: 0.8rem; padding: 2em;} */



/* body{margin:0;} */

.team-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.intro p {
  margin-bottom: 0;
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  max-width: 490px;

}
.team-boxed .item .box-inner {
  text-align: center;
  padding: 30px;
  background-color: gray;
  color: #fff;
  border-radius: 5px;
  margin-top: 8px;
  max-width: 250px;

}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-boxed .item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}

